<header-nav></header-nav>
<div class="container-fluid border rounded">
  <div class="row" style="height:900px;">
    <!--<div class="col col-sm-1 mh-100">
      <div class="card border-info">
        <img class="img-thumbnail" src="assets/images/tie.jpg" width="250" height="250">
        <img class="img-thumbnail" src="assets/images/LC1.jpg" width="250" height="250">
        <img class="img-thumbnail" src="assets/images/starry.jpg" width="250" height="250">
      </div>
    </div>-->
    <!--<div class="col col-sm-2 mh-100 border-info text-dark text-center">
      <div class="card border-info">
        <p class="font-weight-bold">{{ constants.left_msg1 }}</p>
        <h4 *ngIf="!loaded" >Loading...</h4>
        <div *ngIf="loaded" class="mh-100">
          <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>
          <p>{{ constants.left_msg2 }} {{ config.maxrecords }} {{ constants.left_msg3 }}</p>
          <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>
          <p>{{ constants.left_msg3b }}</p>
          <p class="mt-3">{{ constants.left_msg4 }}</p>
          <p>{{ constants.left_msg5 }}</p>
          <p>{{ constants.left_msg6 }}</p>
          <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>
          <p class="font-weight-bold">{{ constants.left_msg7 }}</p>
          <p class="font-weight-bold">{{ constants.left_msg8 }}</p>
        </div>
      </div>
    </div>-->
    <!-- middle column -->
    <div class="col-10">
      <h4 class="card text-center font-italic border-info text-info" >Define Your Data</h4>
      <h4 *ngIf="!loaded" >Loading...</h4>
      <div *ngIf="loaded"> <!-- entire section below the header -->
        <div class="card border-info p-2">
          <div class="row">  <!-- num records and type section -->
            <div class="col">
              <label class="mr-2 font-weight-bold" data-toggle="" title="{{constants.tooltip_numrecords}}"># of Records:</label>
            </div>
            <div class="col">
              <input type="number" [min]="5" [max]="config.maxrecords" step="5"
                     onkeyup="if(this.value<0){this.value= this.value * -1} else if(this.value>max){this.value=max}"
                     [(ngModel)]="numRecords" name="numRecords" >
            </div>
            <div class="col">
              <label class="mb-2 font-weight-bold" data-toggle="" title="{{constants.tooltip_recordtype}}">Data Format: </label>
            </div>
            <div class="col">
              <select class="card-sm-body text-center" [(ngModel)]="selectedRecordType" (change)="recordtypewasselected=true" name="recordtypedropdown">
                <option value="JSON">JSON</option>
                <option value="CSV">CSV</option>
                <option value="TAB">Tab delimited</option>
                <option value="PIPE">| delimited</option>
                <option value="MYSQL">MySql script</option>
              </select>
            </div>
          </div> <!-- END num records and type section -->
          <div class="row"> <!-- file name section -->
            <div class="col-sm-3">
              <label for="filename" class="mr-2 font-weight-bold" data-toggle="" title="{{constants.tooltip_filename}}">File Name:</label>
            </div>
            <div class="col-sm-9">
              <input type="text" id="filename" class="form-control border-info" name="filename"
                     [(ngModel)]="filename" (keyup)="lettersOnly()">
            </div>
          </div> <!-- END file name section -->
          <!--<div class="row"> &lt;!&ndash; header section &ndash;&gt;
            <div class="col-sm-2">
              <label for="header" class="mr-2 font-weight-bold" data-toggle="" title="{{constants.tooltip_header}}">Header:</label>
            </div>
            <div class="col-sm-1">
              <input type="checkbox" id="header" name="header" class="form-check-input" (change)="header=!header">
            </div>
            <div class="col-sm-9">(* note: does not work for JSON or MYSQL file types)</div>
          </div>--> <!-- END header section -->
        </div>
        <div *ngIf="recordtypewasselected"> <!-- table and form section -->
          <div class="card border-info"> <!-- table section -->
            <div class="card-body table-responsive">
              <table class="table table-bordered table-hover rounded">
                <thead>
                <tr class="table-info">
                  <th>
                    <i class="text-size-10">data name</i>
                  </th>
                  <th>
                    <i class="text-size-10">data type</i>
                  </th>
                  <th>
                    <i class="text-size-8">null %</i>
                  </th>
                  <th>
                    <i class="text-size-8">blank %</i>
                  </th>
                  <th>
                    <i class="text-size-8">invalid %</i>
                  </th>
                  <th>
                    <i class="text-size-8">edit item</i>
                  </th>
                  <th>
                    <i class="text-size-8">remove item</i>
                  </th>
                </tr>
                </thead>
                <tbody *ngFor="let dto of fieldsList; let i = index">
                <tr>
                  <td [hidden]="true">{{ i + 1 }}</td>
                  <td>
                    <i class="text-size-8">{{dto.dataname}}</i>
                  </td>
                  <td>
                    <i class="text-size-8">{{dto.datatype}}</i>
                  </td>
                  <td>
                    <i class="text-size-8">{{dto.nullpercent}}</i>
                  </td>
                  <td>
                    <i class="text-size-8">{{dto.blankpercent}}</i>
                  </td>
                  <td>
                    <i class="text-size-8">{{dto.invalidpercent}}</i>
                  </td>
                  <td>
                    <button class="btn-edit" type="submit" [disabled]="addMode || editMode" (click)="editItem(i)">
                      <span class="iconspan fa fa-edit"></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn-edit" type="submit" [disabled]="addMode || editMode" (click)="deleteItem(i)">
                      <span class="iconspan fa fa-trash-o"></span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- END table section -->
          <div class="card border-info"> <!-- form section -->
            <button *ngIf="!editMode" [hidden]="addbtnhidden" (click)="initiateAdd()" class="btn btn-sm btn-outline-info mb-3 mt-3 font-italic">{{this.addItemMessage}}</button>
            <h6 class="text-center font-italic text-info" *ngIf="showForm">{{this.formMessage}}</h6>
            <div class="card card-body mb-3 border-info" *ngIf="showForm">
              <form #fieldForm="ngForm" (submit)="onSubmit($event)">
                <!-- data type dropdown -->
                <div class="row" *ngIf="addMode">
                  <div class="col col-sm-2"></div>
                  <div class="col col-sm-2">
                    <label class="mb-2 mr-sm-2"
                           data-toggle="" title="{{constants.tooltip_datatype}}">Data Type: </label>
                  </div>
                  <div class="col col-sm-4">
                    <select class="card-sm-body text-center" [(ngModel)]="selectedValue" (change)="onSelectedDataType($event)" name="datatypedropdown">
                      <option *ngFor="let option of datatypeoptions" [value]="option.value">
                        {{ option.viewValue }}
                      </option>
                    </select>
                  </div>
                  <div class="col col-sm-4"></div>
                </div>

                <!-- listItem section -->
                <div *ngIf="showListItemForm" >
                  <!-- messages section -->
                  <div class="card mb-1 border-info text-center" *ngIf="!fbb.hideStringMsg">
                    <p class="font-italic">{{ constants.middle_str_msg1 }}</p>
                    <p class="font-italic">{{ constants.middle_str_msg2 }}</p>
                  </div>
                  <div class="card mb-1 border-info text-center" *ngIf="!fbb.hideWholeMsg">
                    <p class="font-italic">{{ constants.middle_whole_msg1 }}</p>
                    <!-- <p class="font-italic">{{ constants.middle_str_msg2 }}</p> -->
                  </div>
                  <div class="card mb-1 border-info text-center" *ngIf="!fbb.hideNumberMsg">
                    <p class="font-italic">{{ constants.middle_dec_msg1 }}</p>
                    <!-- <p class="font-italic">{{ constants.middle_str_msg2 }}</p> -->
                  </div>
                  <div class="card mb-1 border-info text-center" *ngIf="!fbb.hideDateTimeMsg">
                    <p class="font-italic">{{ constants.middle_date_msg1 }}</p>
                    <p class="font-italic">{{ constants.middle_date_msg2 }}</p>
                  </div>
                  <div class="card mb-1 border-info text-center" *ngIf="!fbb.hideBooleanMsg">
                    <p class="font-italic">{{ constants.middle_bool_msg1 }}</p>
                    <!-- <p class="font-italic">{{ constants.middle_str_msg2 }}</p> -->
                  </div>
                  <div class="card mb-1 border-info text-center" *ngIf="!fbb.hideSpecialMsg">
                    <p class="font-italic">{{ constants.middle_spec_msg1 }}</p>
                    <!-- <p class="font-italic">{{ constants.middle_str_msg2 }}</p> -->
                  </div>
                  <!-- END messages section -->
                  <!-- data type field - edit mode only -->
                  <div class="row form-group mb-1" *ngIf="editMode">
                    <div class="col">
                      <label for="datatype" class="mr-2"
                             data-toggle="" title="{{constants.tooltip_datatype}}">data type</label>
                    </div>
                    <div class="col">
                      <input disabled type="text" class="form-control" id="datatype"
                             [(ngModel)]="listItemBB.datatype" name="datatype">
                    </div>
                    <div class="col col-sm-4"></div>
                  </div> <!-- END data type field - edit mode only -->
                  <!-- FIELD NAME -->
                  <div class="row form-group m-1 align-content-center" *ngIf="!fbb.hideFieldName">
                    <div class="col form-inline ml-0 align-content-center">
                      <label for="dataname" data-toggle="" title="{{constants.tooltip_name}}"
                             class="mr-2">Field Name:</label>
                      <input type="text" id="dataname"
                             [(ngModel)]="listItemBB.dataname" class="form-control border-info" name="dataname">
                    </div>
                  </div>
 <!-- -------------------------------------------------- FORMS -------------------------------------------------- -->
                  <div class="card card-body">
        <!-- -------------------------------------------- STRING ----------------------------------------- -->
                    <div class="mt-1" *ngIf="fbb.showStringFieldForm">
                      <!-- fixed length Y/N -->
                      <div class="row d-block" *ngIf="!fbb.hideStrFixedLengthYorN">
                        <div class="col form-inline btn-toolbar my-2" role="toolbar">
                          <label for="fixedlgthYN" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_fixedlength}}">Fixed or Variable Length Field:</label>
                          <div class="btn-group-sm mr-2" id="fixedlgthYN" name="fixedlgthYN" role="group">
                            <button type="button" [disabled]="listItemBB.isfixedlength"
                                    (click)="useFixedLength('yes')" class="btn btn-white border-dark text-dark">Fixed</button>
                            <button type="button" [disabled]="!listItemBB.isfixedlength"
                                    (click)="useFixedLength('no')" class="btn btn-white border-dark text-dark">Variable</button>
                          </div>
                        </div>
                      </div>
                      <div class="row d-block">
                        <!--min length for string -->
                        <div class="col form-inline my-2" *ngIf="!fbb.hideMinStrLgth">
                          <label for="minlength" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_minlength}}">Min Length:</label>
                          <input type="number" id="minlength" class="form-control border-info"
                                 [min]="config.stringOps.minlength" [max]="listItemBB.maxlength" name="minlength"
                                 onkeyup="if(this.value<min){this.value=min} else if(this.value>max){this.value=max}"
                                 [(ngModel)]="listItemBB.minlength">
                        </div>
                        <!-- or fixed length -->
                        <!--<div class="" *ngIf="!fbb.hideStrFixedLgth">

                        </div>-->
                        <div class="col form-inline my-2" *ngIf="!fbb.hideStrFixedLgth">
                          <label for="fixedlength" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_fixedlength}}">Fixed Length:</label>
                          <input type="number" id="fixedlength" class="form-control border-info"
                                 [min]="config.stringOps.minlength" [max]="config.stringOps.maxlength" name="fixedlength"
                                 onkeyup="if(this.value<min){this.value=min} else if(this.value>max){this.value=max}"
                                 [(ngModel)]="listItemBB.fixedlength">
                        </div>
                        <div class="col form-inline my-2" *ngIf="!fbb.hideMaxStrLgth">
                          <label for="maxlength" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_maxlength}}">Max Length:</label>
                          <input type="number" id="maxlength" class="form-control border-info"
                                 [min]="listItemBB.minlength" [max]="config.stringOps.maxlength" name="maxlength"
                                 onkeyup="if(this.value<min){this.value=min} else if(this.value>max){this.value=max}"
                                 [(ngModel)]="listItemBB.maxlength">
                        </div>
                      </div>
                      <!--<div class="row d-inline-block">
                          &lt;!&ndash; Distinct Option &ndash;&gt;
                          <div class="col form-inline btn-toolbar my-2" role="toolbar" *ngIf="!fbb.hideDstnctYorN">
                            <label for="distinct" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_distinct}}">Distinct Values:</label>
                            <div class="btn-group-sm mr-2" id="distinct" name="distinct" role="group">
                              <button type="button" [disabled]="listItemBB.usedistinctvals"
                                      (click)="useDistincts('yes')" class="btn btn-white border-dark text-dark">YES</button>
                              <button type="button" [disabled]="!listItemBB.usedistinctvals"
                                      (click)="useDistincts('no')" class="btn btn-white border-dark text-dark">NO</button>
                            </div>
                          </div>
                          <div class="col form-inline my-2" *ngIf="!fbb.hideDstnctFld">
                            <label for="numdistinct" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_total_distinct}}">Total Different Values:</label>
                            <input type="number" id="numdistinct" class="form-control border-info"
                                   [min]="1" [max]="numRecords" name="numdistinct"
                                   onkeyup="if(this.value<min){this.value=min} else if(this.value>max){this.value=max}"
                                   [(ngModel)]="listItemBB.distinctvalues">
                          </div>
                      </div>-->
                      <!-- which string characters do you want to use message -->
                      <div class="row">
                        <div class="col col-sm-12">
                          <p class="font-weight-bold text-center"
                             data-toggle="" title="{{constants.tooltip_exclusions}}">{{ constants.middle_str_chkbx }}</p>
                        </div>
                      </div>
                      <!-- which string characters do you want to use checkboxes -->
                      <div class="row mb-1">
                        <div class="card card-body">
                          <div class="form-check-inline">
                            <label class="form-check-label" data-toggle="" title="{{constants.tooltip_lowercase_bx}}">
                              <input type="checkbox"
                                     [checked]="listItemBB.allowlowers" (change)="listItemBB.allowlowers=!listItemBB.allowlowers"
                                     class="form-check-input" value="L">Lowercase
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" data-toggle="" title="{{constants.tooltip_uppercase_bx}}">
                              <input type="checkbox"
                                     [checked]="listItemBB.allowuppers" (change)="listItemBB.allowuppers=!listItemBB.allowuppers"
                                     class="form-check-input" value="U">Uppercase
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" data-toggle="" title="{{constants.tooltip_numbers_bx}}">
                              <input type="checkbox"
                                     [checked]="listItemBB.allownumbers" (change)="listItemBB.allownumbers=!listItemBB.allownumbers"
                                     class="form-check-input" value="N">Numbers
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" data-toggle="" title="{{constants.tooltip_specials_bx}}">
                              <input type="checkbox"
                                     [checked]="listItemBB.allowspecials" (change)="listItemBB.allowspecials=!listItemBB.allowspecials"
                                     class="form-check-input" value="S">Special Characters
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row form-group m-1">
                        <!-- use REGEXP label-->
                        <!--<div class="col col-sm-3" *ngIf="!fbb.hidePatternYorN">
                          <label for="strexprYN" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_usepattern}}">Use Expression:</label>
                        </div>-->
                        <!-- use REGEXP radio buttons-->
                        <!--<div class="col col-sm-3 btn-toolbar" role="toolbar" *ngIf="!fbb.hidePatternYorN">
                          <div class="btn-group-sm mr-2" id="strexprYN" name="strexprYN" role="group">
                            <button type="button" [disabled]="listItemBB.usepattern"
                                    (click)="usePattern('yes')" class="btn btn-white border-dark text-dark">YES</button>
                            <button type="button" [disabled]="!listItemBB.usepattern"
                                    (click)="usePattern('no')" class="btn btn-white border-dark text-dark">NO</button>
                          </div>
                        </div>-->
                        <!-- regexp pattern label -->
                        <!--<div class="col col-sm-2" *ngIf="!fbb.hideStrPtrnTxt">
                          <label for="pattern" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_pattern}}">Pattern:</label>
                        </div>-->
                        <!-- regexp pattern -->
                        <!--<div class="col col-sm-4" *ngIf="!fbb.hideStrPtrnTxt">
                          <input type="text" id="pattern"
                                 #pattern="ngModel" class="form-control border-info"
                                 [ngClass]="{'is-invalid':pattern.errors && pattern.touched}"
                                 [(ngModel)]="listItemBB.pattern" name="pattern"
                                 minlength="1"
                                 required>
                          <div [hidden]="!pattern.errors?.required"
                               class="invalid-feedback">
                            pattern required
                          </div>
                          <div [hidden]="!pattern.errors?.minlength"
                               class="invalid-feedback">
                            Must be at least 1 character
                          </div>
                        </div>-->
                      </div>
                      <div class="row d-block" *ngIf="!fbb.hideInclusions">
                        <div class="col form-inline my-2">
                          <label for="inclusions" data-toggle="" title="{{constants.tooltip_inclusions}}"
                                 class="mr-2">Include Characters:</label>
                          <input type="text" id="inclusions" class="form-control border-info" [(ngModel)]="listItemBB.inclusions" name="inclusions">
                        </div>
                      </div>
                      <div class="row d-block" *ngIf="!fbb.hideExclusions">
                        <div class="col form-inline my-2">
                          <label for="exclusions" data-toggle="" title="{{constants.tooltip_exclusions}}"
                                 class="mr-2">Exclude Characters:</label>
                          <input type="text" id="exclusions" class="form-control border-info" [(ngModel)]="listItemBB.exclusions" name="exclusions">
                        </div>
                      </div>
                    </div>
        <!-- -------------------------------------------- WHOLE ----------------------------------------- -->
                    <div class="m-1" *ngIf="fbb.showWholeNumberFieldForm">
                      <div class="row d-block my-2">
                        <!-- is ranged button for whole and decimal -->
                        <div class="col form-inline btn-toolbar" role="toolbar" *ngIf="!fbb.hideRangedValYorN">
                          <label for="rangedYN" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_ranged}}">Incrementing Number or min/max range:</label>
                          <div class="btn-group-sm mr-2" id="rangedYN" name="rangedYN" role="group">
                            <button type="button" [disabled]="listItemBB.isranged"
                                    (click)="useRangedNum('yes')" class="btn btn-white border-dark text-dark">Incrementing</button>
                            <button type="button" [disabled]="!listItemBB.isranged"
                                    (click)="useRangedNum('no')" class="btn btn-white border-dark text-dark">Min/Max</button>
                          </div>
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideMinWholeVal">
                        <!-- min value for whole -->
                        <div class="col form-inline" >
                          <label for="minvalwhole" data-toggle="" title="{{constants.tooltip_minval}}"
                                 class="mr-2">Min Value:</label>
                          <input type="text" id="minvalwhole" class="form-control border-info" name="minvalwhole"
                                 [(ngModel)]="listItemBB.minvaluestr" (keyup)="makeNumbersOnly(1)">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideMaxWholeVal">
                        <!-- max value for whole -->
                        <div class="col form-inline" >
                          <label for="maxvalwhole" data-toggle="" title="{{constants.tooltip_maxval}}"
                                 class="mr-2">Max Value:</label>
                          <input type="text" id="maxvalwhole" class="form-control border-info" name="maxvalwhole"
                                 [(ngModel)]="listItemBB.maxvaluestr" (keyup)="makeNumbersOnly(2)">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideBaseVal">
                        <!-- base value for whole -->
                        <div class="col form-inline">
                          <label for="basevalwhole" data-toggle="" title="{{constants.tooltip_base_val}}"
                                 class="mr-2">Starting Value:</label>
                          <input type="text" id="basevalwhole" class="form-control border-info" name="basevalwhole"
                                 [(ngModel)]="listItemBB.basevaluestr" (keyup)="makeNumbersOnly(3)">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideIncrementVal">
                        <!-- incremental value for whole -->
                        <div class="col form-inline" >
                          <label for="incvalwhole" data-toggle="" title="{{constants.tooltip_increment}}"
                                 class="mr-2">Increment:</label>
                          <input type="text" id="incvalwhole" class="form-control border-info" name="incvalwhole"
                                 [(ngModel)]="listItemBB.incrementstr" (keyup)="makeNumbersOnly(4)">
                        </div>
                      </div>
                      <!--<div class="row d-block my-2" *ngIf="!fbb.hideDstnctYorN">
                        <div class="col form-inline btn-toolbar" role="toolbar">
                          <label for="distinct" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_distinct}}">Distinct Values:</label>
                          <div class="btn-group-sm mr-2" id="distinct" name="distinct" role="group">
                            <button type="button" [disabled]="listItemBB.usedistinctvals"
                                    (click)="useDistincts('yes')" class="btn btn-white border-dark text-dark">YES</button>
                            <button type="button" [disabled]="!listItemBB.usedistinctvals"
                                    (click)="useDistincts('no')" class="btn btn-white border-dark text-dark">NO</button>
                          </div>
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideDstnctFld">
                        <div class="col form-inline">
                          <label for="numdistinct" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_total_distinct}}">Total:</label>
                          <input type="number" id="numdistinct" class="form-control border-info"
                                 [min]="1" [max]="numRecords" name="numdistinct"
                                 onkeyup="if(this.value<min){this.value=min} else if(this.value>max){this.value=max}"
                                 [(ngModel)]="listItemBB.distinctvalues">
                        </div>
                      </div>-->
                    </div>
        <!-- -------------------------------------------- DECIMAL ----------------------------------------- -->
                    <div class="m-1" *ngIf="fbb.showDecimalNumberFieldForm">
                      <div class="row d-block my-2">
                        <!-- is ranged button for whole and decimal -->
                        <div class="col form-inline btn-toolbar" role="toolbar" *ngIf="!fbb.hideRangedValYorN">
                          <label for="rangedYN" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_ranged}}">Incrementing Number or min/max range:</label>
                          <div class="btn-group-sm mr-2" id="rangedYN" name="rangedYN" role="group">
                            <button type="button" [disabled]="listItemBB.isranged"
                                    (click)="useRangedNum('yes')" class="btn btn-white border-dark text-dark">Incrementing</button>
                            <button type="button" [disabled]="!listItemBB.isranged"
                                    (click)="useRangedNum('no')" class="btn btn-white border-dark text-dark">Min/Max</button>
                          </div>
                        </div>
                      </div>
                      <div class="row d-block-my-2" *ngIf="!fbb.hideMinDecVal">
                        <!-- min value for decimal -->
                        <div class="col form-inline" >
                          <label for="minvaldec" data-toggle="" title="{{constants.tooltip_minval}}"
                                 class="mr-2">Min Value:</label>
                          <input type="text" id="minvaldec" class="form-control border-info" name="minvaldec"
                                 [(ngModel)]="listItemBB.minvaluestr" (keyup)="makeNumbersOnly(1)">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideMaxDecVal">
                        <!-- max value for decimal -->
                        <div class="col form-inline">
                          <label for="maxvaldec" data-toggle="" title="{{constants.tooltip_maxval}}"
                                 class="mr-2">Max Value:</label>
                          <input type="text" id="maxvaldec" class="form-control border-info" name="maxvaldec"
                                 [(ngModel)]="listItemBB.maxvaluestr" (keyup)="makeNumbersOnly(2)">
                        </div>
                      </div>
                      <div class="row d-block-my-2" *ngIf="!fbb.hideBaseDecimalVal">
                        <!-- base value for decimal -->
                        <div class="col form-inline">
                          <label for="basevaldec" data-toggle="" title="{{constants.tooltip_base_val}}"
                                 class="mr-2">Starting Value:</label>
                          <input type="text" id="basevaldec" class="form-control border-info" name="basevaldec"
                                 [(ngModel)]="listItemBB.basevaluestr" (keyup)="makeNumbersOnly(3)">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideIncDecimalVal">
                        <!-- incremental value for decimal -->
                        <div class="col form-inline">
                          <label for="incvaldec" data-toggle="" title="{{constants.tooltip_increment}}"
                                 class="mr-2">Increment:</label>
                          <input type="text" id="incvaldec" class="form-control border-info" name="incvaldec"
                                 [(ngModel)]="listItemBB.incrementstr" (keyup)="makeNumbersOnly(4)">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideSignDigits">
                        <!-- Significant Digits for decimal field -->
                        <div class="col form-inline">
                          <label for="signdigits" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_signdigits}}">Significant Digits:</label>
                          <input type="number" id="signdigits" class="form-control border-info"
                                 min="0" [max]="100" name="signdigits"
                                 onkeyup="if(this.value<0){this.value= this.value * -1} else if(this.value>max){this.value=max}"
                                 [(ngModel)]="listItemBB.signdigits">
                        </div>
                      </div>
                      <!--<div class="row d-block my-2" *ngIf="!fbb.hideDstnctYorN">
                        <div class="col form-inline btn-toolbar" role="toolbar">
                          <label for="distinct" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_distinct}}">Distinct Values:</label>
                          <div class="btn-group-sm mr-2" id="distinct" name="distinct" role="group">
                            <button type="button" [disabled]="listItemBB.usedistinctvals"
                                    (click)="useDistincts('yes')" class="btn btn-white border-dark text-dark">YES</button>
                            <button type="button" [disabled]="!listItemBB.usedistinctvals"
                                    (click)="useDistincts('no')" class="btn btn-white border-dark text-dark">NO</button>
                          </div>
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideDstnctFld">
                        <div class="col form-inline">
                          <label for="numdistinct" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_total_distinct}}">Total:</label>
                          <input type="number" id="numdistinct" class="form-control border-info"
                                 [min]="1" [max]="numRecords" name="numdistinct"
                                 onkeyup="if(this.value<min){this.value=min} else if(this.value>max){this.value=max}"
                                 [(ngModel)]="listItemBB.distinctvalues">
                        </div>
                      </div>-->
                    </div>
        <!-- -------------------------------------------- DATETIME ----------------------------------------- -->
                    <div class="m-1" *ngIf="fbb.showDateTimeFieldForm">
                      <div class="row d-block my-2" *ngIf="!fbb.hidedateOrTimeBtn">
                        <!-- date/time/both button for date/time field-->
                        <div class="col form-inline btn-toolbar" role="toolbar">
                          <label for="datetimebtn" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_date_time_selector}}">Type:</label>
                          <div class="btn-group-sm mr-2" id="datetimebtn" name="datetimebtn" role="group">
                            <button type="button" [disabled]="listItemBB.hasdate && !listItemBB.hastime"
                                    (click)="dateTimeBtnChanged('date')" class="btn btn-white border-dark text-dark">DATE only</button>
                            <button type="button" [disabled]="listItemBB.hasdate && listItemBB.hastime"
                                    (click)="dateTimeBtnChanged('both')" class="btn btn-white border-dark text-dark">DATE and TIME</button>
                          </div>
                          <!-- [disabled]="!listItemBB.hasdate && listItemBB.hastime" -->
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideFormat">
                        <!-- format field for date/time -->
                        <div class="col form-inline">
                          <label for="formatdropdown" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_datatype}}">Format:</label>
                          <select id="formatdropdown" class="form-control border-info text-center"
                                  [(ngModel)]="listItemBB.format"
                                  (change)="changeIncrements($event)"
                                  name="formatdropdown">
                            <option *ngFor="let option of datetimeoptions" [value]="option.value">
                              {{ option.viewValue }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideRangedDteYorN">
                        <!-- ranged button for date/time -->
                        <div class="col form-inline btn-toolbar" role="toolbar">
                          <label for="rangedYN" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_ranged_dte}}">Chronological Date/Time:</label>
                          <div class="btn-group-sm mr-2" name="rangedYN" role="group">
                            <button type="button" [disabled]="listItemBB.isranged"
                                    (click)="useRangedNum('yes')" class="btn btn-white border-dark text-dark">YES</button>
                            <button type="button" [disabled]="!listItemBB.isranged"
                                    (click)="useRangedNum('no')" class="btn btn-white border-dark text-dark">NO</button>
                          </div>
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideStrtDte">
                        <!-- start date for date/time field -->
                        <div class="col form-inline">
                          <label for="startdate" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_startdte}}">Start Date:</label>
                          <input type="date" id="startdate" [(ngModel)]="listItemBB.startdatetime"
                                 (change)="dateChangeAction('start')"
                                 class="form-control" name="startdate">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideEndDte">
                        <!-- end date for date/time field -->
                        <div class="col form-inline">
                          <label for="enddate" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_enddte}}">End Date:</label>
                          <input type="date" id="enddate" [(ngModel)]="listItemBB.enddatetime"
                                 (change)="dateChangeAction('end')"
                                 class="form-control" name="enddate">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideBaseDte">
                        <!-- base date for date/time field -->
                        <div class="col form-inline">
                          <label for="startdate" class="mr-2"
                                 data-toggle="" title="{{constants.tooltip_basedte}}">Base Date:</label>
                          <input type="date" [(ngModel)]="listItemBB.basedatetime"
                                 (change)="dateChangeAction('base')"
                                 class="form-control" name="startdate">
                        </div>
                      </div>
                      <div class="row d-block my-2" *ngIf="!fbb.hideBaseDte">
                        <div class="col col-sm-6">
                          Increments
                        </div>
                      </div>
                      <div class="m-0" *ngIf="!fbb.hideAllIncrements">
                        <div class="row d-block my-2" *ngIf="!fbb.hideYrsInc">
                          <!-- years increment -->
                          <div class="col form-inline">
                            <label for="yearinc" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_yr_inc}}">Year:</label>
                            <input type="number" id="yearinc" class="form-control border-info" name="yearinc"
                                   min="0" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                   [(ngModel)]="listItemBB.inc_yr_str">
                          </div>
                        </div>
                        <div class="row d-block my-2" *ngIf="!fbb.hideMthsInc">
                          <!-- months increment -->
                          <div class="col form-inline">
                            <label for="monthsinc" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_mnth_inc}}">Months:</label>
                            <input type="number" id="monthsinc" class="form-control border-info" name="monthsinc"
                                   min="0" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                   [(ngModel)]="listItemBB.inc_mth_str">
                          </div>
                        </div>
                        <div class="row d-block my-2" *ngIf="!fbb.hideDaysInc">
                          <!-- days increment -->
                          <div class="col form-inline">
                            <label for="daysinc" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_day_inc}}">Days:</label>
                            <input type="number" id="daysinc" class="form-control border-info" name="daysinc"
                                   min="0" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                   [(ngModel)]="listItemBB.inc_day_str">
                          </div>
                        </div>
                        <div class="row d-block my-2" *ngIf="!fbb.hideHrsInc">
                          <!-- hours increment -->
                          <div class="col form-inline">
                            <label for="hoursinc" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_hr_inc}}">Hours:</label>
                            <input type="number" id="hoursinc" class="form-control border-info" name="hoursinc"
                                   min="0" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                   [(ngModel)]="listItemBB.inc_hrs_str">
                          </div>
                        </div>
                        <div class="row d-block my-2" *ngIf="!fbb.hideMinInc">
                          <!-- minutes increment -->
                          <div class="col form-inline">
                            <label for="minutesinc" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_hr_inc}}">Minutes:</label>
                            <input type="number" id="minutesinc" class="form-control border-info" name="minutesinc"
                                   min="0" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                   [(ngModel)]="listItemBB.inc_min_str">
                          </div>
                        </div>
                        <div class="row d-block my-2" *ngIf="!fbb.hideSecInc">
                          <!-- seconds increment -->
                          <div class="col form-inline">
                            <label for="secondsinc" class="mr-2"
                                   data-toggle="" title="{{constants.tooltip_sec_inc}}">Seconds:</label>
                            <input type="number" id="secondsinc" class="form-control border-info" name="secondsinc"
                                   min="0" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                   [(ngModel)]="listItemBB.inc_sec_str">
                          </div>
                        </div>
                      </div>

                    </div>
        <!-- -------------------------------------------- BOOLEAN ----------------------------------------- -->
                    <div class="m-1" *ngIf="fbb.showBooleanFieldForm">

                    </div>
                    <!-- NULL pct -->
                    <div class="row inline-block">
                      <div class="col form-inline my-2">
                        <label for="nullpct" class="mr-2"
                               data-toggle="" title="{{constants.tooltip_null}}">number of blank fields(%):</label>
                        <input type="number" id="nullpct" class="form-control border-info"
                               min="0" [max]="100-(listItemBB.blankpercent+listItemBB.invalidpercent)" name="nullpct"
                               onkeyup="if(this.value<0){this.value= this.value * -1} else if(this.value>max){this.value=max}"
                               [(ngModel)]="listItemBB.nullpercent">
                      </div>
                    </div>
                    <!--<div class="row d-block my-2">
                      &lt;!&ndash; Blank %  *ngIf="!fbb.hideBlankPct"&ndash;&gt;
                      <div class="col form-inline">
                        <label for="blankpct" class="mr-2"
                               data-toggle="" title="{{constants.tooltip_blank}}">Number of blank fields(%):</label>
                        <input type="number" id="blankpct" class="form-control border-info"
                               min="0" [max]="100-(listItemBB.nullpercent+listItemBB.invalidpercent)" name="blankpct"
                               onkeyup="if(this.value<0){this.value= this.value * -1} else if(this.value>max){this.value=max}"
                               [(ngModel)]="listItemBB.blankpercent">
                      </div>
                    </div>
                    <div class="row d-block my-2">
                      &lt;!&ndash; Invalid %  *ngIf="!fbb.hideInvalidPct"&ndash;&gt;
                      <div class="col form-inline">
                        <label for="invalidpct" class="mr-2"
                               data-toggle="" title="{{constants.tooltip_invalid}}">Number of invalid fields(%):</label>
                        <input type="number" id="invalidpct" class="form-control border-info"
                               min="0" [max]="100-(listItemBB.blankpercent+listItemBB.nullpercent)" name="invalidpct"
                               onkeyup="if(this.value<0){this.value= this.value * -1} else if(this.value>max){this.value=max}"
                               [(ngModel)]="listItemBB.invalidpercent">
                      </div>
                    </div>-->
                  </div>
                  <button *ngIf="datatypeselected" (click)="saveResults('yes')"
                          [disabled]="!enableSaveBtn()"
                          class="btn btn-sm btn-block btn-success text-white mb-3 font-italic">{{this.saveChangesMsg}}</button>
                  <button *ngIf="addMode && datatypeselected || editMode" (click)="saveResults('no')" class="btn btn-sm btn-block btn-danger text-white mb-3 font-italic">{{this.cancelMsg}}</button>
                </div>
              </form> <!-- END form tag -->
              <button *ngIf="addMode && !datatypeselected" name="outtercancelbtn" (click)="resetModes()" class="btn btn-sm btn-block btn-danger text-white mb-3 font-italic">Cancel Add Item</button>
            </div> <!-- END show form tag -->
          </div> <!-- END form section-->

        </div> <!-- END table and form section -->
      </div> <!-- END loading section -->
    </div> <!-- END middle column -->
    <div class="col col-sm-2 mh-100 border-info text-dark text-center">
      <div class="card border-info">
        <div class="row">
          <div class="col-sm-12">
            <p class="font-weight-bold text-center">{{ constants.right_msg1 }}</p>
            <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>
          </div>
          <h4 *ngIf="!loaded" >Loading...</h4>
        </div>
        <div *ngIf="loaded">
          <div class="row">
            <div class="col-sm-12">
              <p>{{ constants.right_msg2 }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- Finished button -->
              <button name="finishedbtn" [disabled]="!enableFinishBtn()" (click)="getData()"
                      class="btn btn-sm btn-block btn-success text-white mb-3 font-italic">{{this.finishedMessage}}</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>
              <p class="mb-2">{{ constants.right_msg3 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col col-sm-1">
      <div class="card border-info">
        <img class="img-thumbnail" src="assets/images/tree2.jpg" width="200" height="400">
        <img class="img-thumbnail" src="assets/images/sky1.jpg" width="200" height="200">
      </div>
    </div>-->
  </div>
</div>
<script>
  $(document).ready(function(){
    $('[data-toggle="xxx"]').tooltip();
  });
</script>
