@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "~angular-notifier/styles";

tr.a {
  line-height: 80%;
}
div.pagin {
  height: 50px;
}
.cross-validation-error input {
  border-left: 5px solid red;
}